		html, body { background-color: #fff; }
		body { 
			padding-top: 80px; 
			font-family: Helvetica, Arial, Sans;
		}
		footer{	
			border:none; 
			text-align: right;
			font-size: 10px;
		}
		h1{
			color: #400080;
			font-size:230px;
			margin-top:30px;
			z-index:4;
		}
		h2{
			color: #400080;
			font-size: 46px;
			margin-top:100px;
			margin-left:10px;
			z-index:5;
		}
		.days{
			font-family: "DaysRegular";
		}

		.container {
			width: 820px;
		}

		img[src="images/purple.png"]{
			position:relative;
			top:0px;
			left:-50px;
			
			-webkit-animation-delay: 3s;
			   -moz-animation-delay: 3s;
				-ms-animation-delay: 3s;
				    animation-delay: 3s;
			z-index:1;
		}
		img[src="images/midnight.png"]{
			position:relative;
			top:-350px;
			left:30px;

			-webkit-animation-delay: 4s;
			   -moz-animation-delay: 4s;
				-ms-animation-delay: 4s;
				    animation-delay: 4s;	
			z-index:2;
		}
		img[src="images/ocean.png"]{
			position:relative;
			top:-700px;
			left:120px;

			-webkit-animation-delay: 5s;
			   -moz-animation-delay: 5s;
				-ms-animation-delay: 5s;
				    animation-delay: 5s;
			z-index:3;
		}
		.logo div{
			position: relative;
			top:-680px;
			
		}
		.logo{
			width:700px;
			height:700px;			
			margin:auto;		
		}
		
		img, h1, h2{
			-webkit-backface-visibility: hidden;
			   -moz-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				    backface-visibility: hidden;
			
			-webkit-animation-duration: 2s;
			   -moz-animation-duration: 2s;
				-ms-animation-duration: 2s;
				    animation-duration: 2s;
			
			-webkit-animation-timing-function: ease;
			   -moz-animation-timing-function: ease;
				-ms-animation-timing-function: ease;
			        animation-timing-function: ease;
			
			-webkit-animation-fill-mode: both;
			   -moz-animation-fill-mode: both;
				-ms-animation-fill-mode: both;
				    animation-fill-mode: both;
		}
		h1, h2{
			margin-bottom:0px;
			-webkit-animation-delay: 7s;
			   -moz-animation-delay: 7s;
				-ms-animation-delay: 7s;
				    animation-delay: 7s;
		}
		h2{
			margin-top:70px;
			text-indent:4px;
		}